<%= render 'commen_elements/errorflash', obj: @article %>

<%= form_with(model: article) do |form| %>  <!--- will also give us a form class in html --->

  <div class="p-5 my-5 rounded-3 col-sm-8 mx-auto text-center shadow" id="form-box">
  <div class="container-fluid py-5">

    <div class="form-group row">
      <div class="col-2">
        <%= form.label :title, class: "col-form-label" %>
      </div>
      <div class="col-8">
        <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
      </div>
    </div>

    <br>

    <div class="form-group row">
      <div class="col-2">
        <%= form.label :description, class: "col-form-label" %>
      </div>
      <div class="col-8">
        <%= form.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "description of article" %>
      </div>
    </div>

    <br>

    <div class="form-group row" >
      <div class="col-2">
        <%= form.label :category, class: "col-form-label" %>
      </div>
      <div class="col-8">
        <%= form.collection_select(:category_ids, Category.order(:name), :id, :name,
                                   {prompt: "select all categories that apply (use ctrl for multiple)"},
                                   {multiple: true, class: "form-select shadow rounded"}) %>
      </div>

    </div>

    <br>

    <div class="actions form-group row col-8 mx-auto">
      <%= form.submit class: "btn btn-outline-light btn-lg" %>
    </div>

  </div>
  </div>


  
<% end %>
