
<h1 class="text-center">Articles</h1>

<%= render "commen_elements/paginate", objs: @articles %>

<% if logged_in? %>
<div class="text-center my-2">
  <%= link_to 'New Article', new_article_path, class: "btn btn-outline-success col-6" %>
</div>
<% end %>

  <% @articles.each do |art| %>

    <%= render "articlecard", article: art %>

  <% end %>

<br>

<% if logged_in? %>
<div class="text-center mb-2">
  <%= link_to 'New Article', new_article_path, class: "btn btn-outline-success col-6" %>
</div>
<% end %>

<%= render "commen_elements/paginate", objs: @articles %>
