<p id="notice"><%= notice %></p>

<h1>Articles</h1>

  <% @articles.each do |article| %>

    <div class="col-sm-6 mx-auto mb-3"> <!-- col-... -> width, mx-auto -> centered on page, mb -> whiteborder/ space between cards -->
    <div class="card text-center">
      <div class="card-header">
        <%= article.id %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"> <%= article.description %> </p>

        <%= link_to 'Show', article, class: "btn btn-primary" %></td>
        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-success" %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      </div>
      <div class="card-footer text-muted">
        created <%= distance_of_time_in_words(article.created_at, Time.now) %>
        <% if article.created_at != article.updated_at then %>
         <br>
          edited <%= distance_of_time_in_words(article.updated_at, Time.now) %>
        <% end %>
      </div>
    </div>
    </div>

  <% end %>

<br>

<%= link_to 'New Article', new_article_path, class: "btn btn-outline-success" %>
